
__pycache__/

Resources/

Save/

variaIa/\.ipynb_checkpoints/

*.un~

notebooks/\.ipynb_checkpoints/

notebooks/Tests\.ipynb

*.js

node_modules/core-js/

package-lock\.json

*.swp

variaIa.egg-info/

*.egg

build/lib/variaIa/__init__.py

build/lib/variaIa/baserate.py

build/lib/variaIa/ratefit.py

build/lib/variaIa/stretchevol.py

build/lib/variaIa/test.py

build/lib/variaIa/

Images/Archives/

Images/png/

notebooks/Plots/.ipynb_checkpoints/

notebooks/Drafts/.ipynb_checkpoints/

notebooks/Tables/.ipynb_checkpoints/
