Data

__pycache__/

Resources/

Save/

variaIa/\.ipynb_checkpoints/

*.un~

notebooks/\.ipynb_checkpoints/

notebooks/Tests\.ipynb

*.js

node_modules/core-js/

package-lock\.json

*.swp

variaIa.egg-info/

*.egg

Images/Archives/

Images/png/

.ipynb_checkpoints

*/.ipynb_checkpoints/*
Data/mmcls

Data/pscls

build/